{# CARD STRUCTURE #}
<div class="card col-3 my-3 mx-1">
    {# CARDs IMAGE #}
    <img src="
    {% if car.coverImage matches '{^http}' %}
        {{car.coverImage}}
    {% else %}
        /images/{{car.coverImage}}
    {% endif %}
    " alt="Image de {{car.brand}} {{car.model}}">
    {# CARDs BODY #}
    <div class="card-body text-center">
        {# CARs BRAND AND MODEL #}
        <h3 class="card-title">{{car.brand}} {{car.model}}</h3>
        {# CARs PRCE AND MILEAGE #}
        <h5>{{car.price}}€ - {{car.mileage}}km</h5>
        {# LINK TO CAR PAGE #}
        <a href="{{ path("car",{'slug':car.slug}) }}" class="btn btn-primary">Voir la voiture</a>
    </div>
</div>