{% extends 'base.html.twig' %}

{% block title %}Nouvelle voiture{% endblock %}

{% form_theme new_form _self %}

{% block body %}
    <div class="container pt-5">
    <h1>Ajout d'une nouvelle voiture</h1>
        {{form_start(new_form)}}
            {{form_widget(new_form)}}
            <button type="submit" class="btn btn-primary">Ajouter une nouvelle voiture</button>
        {{form_end(new_form)}}
    </div>
{% endblock %}

{% block _car_images_widget %}
    <p>Gallerie des images :</p>
    {{form_widget(form)}}
    <input type="hidden" id="widgets-counter" value="0">
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>
{% endblock %}

{% block _car_images_entry_row %}
    {{form_widget(form)}}
{% endblock %}

{% block _car_images_entry_widget %}
     <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                {{form_widget(form.picture)}}
                {{form_errors(form.picture)}}
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger" data-action="delete" data-target='#block_{{id}}'>X</button>
            </div>
        </div>
     
     </div> 
{% endblock %}

{% block javascripts %}
    <script>
        const addImage = document.querySelector("#add-image")

        addImage.addEventListener('click',()=>{
            const widgetCounter = document.querySelector("#widgets-counter")
            const index = +widgetCounter.value
            console.log(index)

            const carImages = document.querySelector("#car_images")

            const prototype = carImages.dataset.prototype.replace(/__name__/g, index)

            carImages.insertAdjacentHTML('beforeend', prototype)
            widgetCounter.value = index+1

            handleDeleteButtons()

        })

        const updateCounter = () => {
            const count = document.querySelectorAll('#annonce_images div.form-group').length
            
            document.querySelector('#widgets-counter').value = count
        }

        const handleDeleteButtons = () => {
            var deletes = document.querySelectorAll("button[data-action='delete']")
            
            deletes.forEach(button => {
                button.addEventListener('click', ()=>{
                    
                    const target = button.dataset.target
                    const elementTarget = document.querySelector(target)
                    if(elementTarget){
                        elementTarget.remove()
                    }
                })
            })
        }

        updateCounter()
        handleDeleteButtons()

    </script>
{% endblock %}